# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.pem
*.key

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
*.apk
*.aab
local.properties

# Logs
*.log
